body {
    background: grey;
}
aside a {
    float: left;
    background: grey;
    text-decoration: none;
    width: 20%;
    padding: 2.5%;
    height: 10vh;
    color: gold;
    border-top: 2px solid gold;
}

aside img {
    width: 150px;
    float: center;
}

aside .logo {
    font-size: 20px;
    margin-left: -50px;
    font-weight: bold;
    position: relative;
    top: -50px;
}

aside ul {list-style: none}
aside ul li {
    color: gold;
    display: block;
    margin-top: 20px;
}

aside ul li:hover, aside ul a:hover {
    color: black;
    text-decoration: none;
}

form {
    margin-left: 30%;
    width: 500px;
    margin-top: 50px;
}