{% extends 'bill/layout.html' %}

{% block title %}Расчет{% endblock %}

<body>
{% block content %}
    <div class="features">
        <h1>Расчет</h1>
            <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="active">
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                        {% for el in bill %}
                        <tbody>
                            <tr>
                                <td>{{ el.title }} </td>
                                <td>{{ el.price }}</td>
                                <td>{{ el.date }} <a href="{% url 'bill-details' el.id %}">
                                    <button class="btn btn-warning">Детали</button></a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                </table>
            </div>
    </div>
{% endblock %}
</body>