{% extends 'bill/layout.html' %}

{% block title %}{{ all_bills }}{% endblock %}

<body>
{% block content %}
    <div class="features">
        <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="active">
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <td>{{ all_bills.title }}</td>
                                <td>{{ all_bills.price }}</td>
                                <td>{{ all_bills.date }}</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        <a href="{% url 'bill-update' all_bills.id %}" class='btn btn-success'>Редактировать</a>
        <a href="{% url 'bill-delete' all_bills.id %}" class='btn btn-danger'>Удалить</a>
    </div>
{% endblock %}
</body>